* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  background: orangered;
  height: 40px;
  padding: 10px;
  font-weight: lighter;
  font-size: smaller;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-btn {
  display: inline-block;
  padding: 10px 15px;
  font-size: 10px;
  line-height: 1;
  color: #fff;
  text-decoration: navajowhite;
  background: #262222;
}

header a {
  font-size: 12px;
  font-weight: lighter;
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  color: #262626;
  height: 40px;
  background-color: white;
  padding: 10px;
}

.nav-logo {
  vertical-align: baseline;
  align-items: center;
  height: 24px;
  width: 80%;
  display: inline-block;
  padding: 10px;
  /* margin-right: 10px;  */
  /* border-radius: 10%; */
  /* object-fit: contain; */
  /* filter: 0 , 1; */
}

nav li a:hover {
  color: #FF4700;

}

nav a {
  text-decoration: none;
  font-size: x-small;
  font-weight: 600;
  /* display: inline-block; */

}

.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  width: 25%;
}

.navlinks li {
  list-style-type: none;
}



.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/asset1.jpeg);
  background-size: cover;
  color: white;
  height: 100vh;
  padding: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
}

.hero-section h2 {
  margin: 0;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
}

.hero-section h3 {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  text-align: justify;
}

.hero-section p {
  font-weight: 10;
  font-family: mont;
  line-height: 1.5;
  text-align: justify;
  color: #F5F5F5;
  max-width: 800px;
  padding: 20px;

}



.hero-btns {
  display: flex;
  justify-content: center;
  gap: 1px;
}

.donatenow-btn {
  padding: 14px 28px;
  border-radius: 999px;
  display: inline-block;
  /* gap: 20px;  */
  justify-items: center;
  /* width: 15%; */
  background-color: #FF4700;
  /* border: black solid; */
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  /* line-height: 1; */
  color: white;
  /* outline: none; */
}

.readmore-btn {
  padding: 14px 28px;
  /* float: right; */
  display: inline-block;
  /* justify-items: center; */
  /* width: 15%; */
  background-color: #FF4700;
  border-radius: 24px;
  font-size: 12px;
  font-weight: 500;
  /* line-height: 1; */
  color: white;
  /* outline: none; */
  margin-right: 19px;
}

.hero-text {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
}

.hero-readmorebtn {
  padding: 0.5rem 1rem;
  border: 1px solid red;
  border-radius: 30px;
  font-size: 10px;
  color: #1D1A13;
  outline: none;
}


.homepage {}

.second-section {
  margin: auto;
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width:100%;
  /* display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  padding: 5px;
  box-sizing: content-box; */

}

.volunteer {
  background-color: #FF4700;
  border-radius: 20px;
  margin-right: 20px;
}

.volunteer-img {
  display: flex;
  justify-content: center;
  display: flex;
  padding: 0 20px;
  margin: auto;
}


.volunteer h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.DanceandMusic:hover {
  color: white;
  background-color: orangered;
}
.DanceandMusic {
  background-color: #ECF2F5;
  border-radius: 20px;
  margin-right: 20px;
}

.DanceandMusic-img {
  display: flex;
  justify-content: center;
  display: flex;
  padding: 0 30px;
  margin: auto;
}

.DanceandMusic h3 {
   display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.online{
  background-color: #ECF2F5;
  border-radius: 20px;
  margin-right: 20px;
}

.online:hover {
  color: white;
  background-color: orangered;
}

.online-img{
   display: flex;
  justify-content: center;
  display: flex;
  padding: 0 30px;
  margin: auto;
}

.online h3 {
   display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.second-section p {
  text-align: center;
  padding: 5px;
}

.welcome-section {
  position: relative;
  padding: 0 60px;
  margin-bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/asset22.jpeg);
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/asset22.jpeg);  */
  /* margin-bottom: 20px;
  padding-bottom: 20px; */
}

.welcome-section p {
  padding: 0 10px;
  height: 50vh;
  width: 100%;
  text-align: justify;
  color: black;
  display: flex;
  justify-content: center;
  justify-content: center;
  line-height: 2;
}

.welcome-img {
  display: flex;
  padding: 0 20px;
  height: 400px;
  border-radius: 20px;
  margin: auto;
  overflow: clip;
  width: 100%;
  display: flex;
  justify-content: right;
  width: 80%;
}

.welcome-page {
  display: flex;
  justify-content: center;
  font-weight: 10;
  line-height: 2;
  text-align: justify;
  color: #F5F5F5;
  width: 100%;
  padding: 20px;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/asset22.jpeg);  */
  /* width: 80%; */
}

.welcome-text h2 {
  display: flex;
  justify-content: center;
  text-align: justify;
  color: white;
  font-size: larger;
  font-weight: bold;

}

.welcome-text p {
  font-family: auto;
  text-align: justify;
  display: flex;
  line-height: 2;
  padding: 0 5px;
  color: #F5F5F5;
  font-weight: lighter;
}


.footer {
  padding-top: 0 5px;
  margin-top: 30px;
  background-color: burlywood;
   background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/asset\ 24.jpeg);
  color: white;
  padding: 40px 20px 20px;
  margin-top: 50px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.footer-column {
  min-width: 250px;
}

.footer-column h3 {
  font-size: 15pt;
  font-style: italic;
  font-weight: bolder;
  margin-bottom: 20px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 20px;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
}

.footer-column ul li a:hover {
  color: #f0a500;
}

.social-icons a {
  display: inline-block;
  text-decoration: none;
}

.social-icons img {
  width: 50px;
  height: 50px;
  filter: brightness(0) invert(2);

}

.social-icons img:hover {
  transform: scale(1.1);
}

.footer-column form {
  display: flex;
  flex-direction: column;
}

.footer-column input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  color: #ECF2F5;
}

.footer-column button {
  padding: 10px;
  background-color: #f0a500;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.footer-column button:hover {
  background-color: #d88c00;
}

.footer-bottom {
  text-align: center;
  padding: 20px 0 0;
  border-top: 1px solid #333;
  margin-top: 20px;
  font-size: 14px;
}

