header {
  background: orangered;
  height: 40px;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header a {
  text-decoration: none;
  color: white;
  text-align: center;
  justify-content: space-around;
}

nav {
  display: flex;
  color: #262626;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  height: 40px;
  background-color: white;
}

.nav-logo {
  height: 50px;
  width: auto;
  /* margin-right: 10px;  */
  /* border-radius: 10%; */
  /* object-fit: contain; */
  /* filter: 0 , 1; */
}

nav a {
  text-decoration: none;
  color: #262626;
}

.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  width: 60%;
}

.navlinks li {
  list-style-type: none;
}

.donate-btn {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  font-size: 10px;
  font-weight: 10;
  line-height: 0.5;
  color: #fff;
  text-decoration: navajowhite;
  background: #262222;
  /* background-color: transparent;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(255, 255, 255); */
}

.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/asset\ 1.jpeg);
  background-size: cover;
  /* background-attachment: fixed; */
  /* background-position: center; */
  background-repeat: no-repeat;
  height: 500px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

section h1 {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 100%;
  width: 50%;
  margin: auto;
}

.hero-text {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  /* gap: 20px;
  height: 100%; */
  width: 60%;
  margin: auto;
}

.hero-btn {
  background-color: #ff3c00;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(255, 255, 255);
}

.hero-readmorebtn {
  padding: 0.5rem 1rem;
  border: 1px solid red;
  border-radius: 30px;
  font-size: 10px;
  color: #1D1A13;
  outline: none;
}
